@charset "utf-8";
/* CSS Document */
/*Definerer hjemmesidens generelle skriftstørrelse og hvilken font den anvender */
html {
	font-size: 10px;
	font-family: "NotoSerif Regular"
}
/* Gør den generelle baggrund på hjemmesiden sort */
body {
	background-color: #000000;
}
h1 {
	color: #FFFFFF;
	font-style: normal;
	font-weight: 400;
}
p {
	color: #FFFFFF;
}

/*Fjerner mellemrum imellem elementerne */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Fjerner linjen på knappen */
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}

/* Hero sektion */
#hero {
	background-image: url("endwalker moon 1920x1080.png");
		background-size: cover;
	background-position: top center;
	position: relative;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
}
/* Der laves en boks til vores knap som gør knappens baggrund gennemsigtig og giver den en hvid kant, padding til teksten defineres til 10px og 40px. Teksten gøres orange og gøres to gange så stor som browseren skriftstørrelse */
#hero .cta {
	display: inline-block;
	padding: 10px 40px;
		color: orange;
	background-color: transparent;
	border: 1px solid white;
	font-size: 2rem;
}
/* Hover funktion som bytter farverne på knappen når musemarkøren er på knappen. */
#hero .cta:hover {
	color: white;
	background-color: orange;
}
/* Hero sektion slut */



/* experience sektion start */
#experience {
	background-image: url("Viera sage.png");
		background-size: cover;
	background-position: top right;
	position: relative;
}

#experience h2  {
	display: block;
	width: 100%;
	font-size: 2rem;
	position: relative;
	color: black;
}
.container2 {
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:50%;
}
.video-responsive iframe{
    left:10%;
    top:10%;
    height:80%;
    width:70%;
    position:absolute;
}
/* experience sektion slut */

/* desire sektion start */

#desire {
	background-image: url("FFXIV desire art.png");
		background-size: cover;
	background-position: top center;
	position: relative;
}

.container3 {
	min-height: 100vh;
	width: 100%;
	align-items: center;
	justify-content: center;
}

#desire h3  {
	display: block;
	width: 100%;
	font-size: 2rem;
	position: relative;
	color: orange;
}

.container4 {
	left:10%;
    top:10%;
	min-height: 80vh;
	width: 80%;
	position:absolute;
}

#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 600%;
	margin: 0;
	left: 0;
	animation: 60s slider infinite;
}
#slider figure img {
	float: left;
	width: 16.66%;
}
@keyframes slider {
	0% {
		left: 0%;
	}
	16.66% { 
		left: 0%;
	}
	17% {
		left: -100%;
	}
	33.66% {
		left: -100%;
	}
	34% {
		left: -200%;
	}
	50.66% {
		left: -200%;
	}
	51% {
		left: -300%;
	}
	67.66% {
		left: -300%;
	}
	68% {
		left: -400%;
	}
	84.66% {
		left: -400%;
	}
	85% {
		left: -500%;
	}
	100% {
		left: -500%;
	}
}
/* desire sektion slut */
