@charset "utf-8";
/* CSS Document */
/*Definerer hjemmesidens generelle skriftstørrelse og hvilken font den anvender */
html {
	font-size: 10px;
	font-family: "NotoSerif Regular"
}
/* Gør den generelle baggrund på hjemmesiden sort */
body {
	background-color: #000000;
}
h1 {
	color: #FFFFFF;
	font-style: normal;
	font-weight: 400;
}
p {
	color: #FFFFFF;
}

/*Fjerner mellemrum imellem elementerne */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
/* Fjerner linjen på knappen */
a {
	text-decoration: none;
}



/* Header sektion */
.navbarheader h1 {
	font-size: 1.5rem;
	text-transform: uppercase;
	color: white;
}
/* fastgør headerens position således at den altid er i toppen af siden og mod venstre. Derudover har den en høj z-index værdi fordi den skal være i front i forhold til de andre elementer. Derudover er bredden defineret til 100% af view width så den er reponsive og højden skal bare auto tilpasse */
#header {
	position:fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}

/* Sætter minimum højden til 8 view height og laver en 50% gennemsigtig sort farve til headeren */
#header .header {
	min-height: 8vh;
	background-color: rgba(0,0,0,0.25)
}


/* Skaber mellemrum imellem teksten Final Fantasy XIV og knapperne. Derudover defineres elementerne til at fylde 100% og gives en max bredde på 1080 pixels.*/
.header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1080px;
	padding: 0 20px;
}



#header .cta {
	display:inline-block;
	padding: 5px 10px;
	color: orange;
	background-color: black;
	font-size: 1.8rem;
}
/* Header sektion slut */

/* Hero sektion */

.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
}
/* Sætter baggrundsbillede og fastlåser positionen */
#hero {
	background-image: url("endwalker moon 1920x1080.png");
	background-size: cover;
	background-position: top center;
	position: relative;
}

#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: white;
}
/* Der laves en boks til vores knap som gør knappens baggrund gennemsigtig og giver den en hvid kant, padding til teksten defineres til 10px og 40px. Teksten gøres orange og gøres to gange så stor som browseren skriftstørrelse */
#hero .cta {
	display: inline-block;
	padding: 10px 40px;
	color: orange;
	background-color: transparent;
	border: 1px solid white;
	font-size: 2rem;
}
/* Hover funktion som bytter farverne på knappen når musemarkøren er på knappen. */
#hero .cta:hover {
	color: white;
	background-color: orange;
}
/* Hero sektion slut */



/* experience sektion start */
/* Sætter baggrundsbillede og fastlåser positionen */
#experience {
	background-image: url("Viera sage.png");
	background-size: cover;
	background-position: top right;
	position: relative;
}
#experience .h2-boks {
	display: inline-block;
	padding: 0px 5px;
	color: orange;
	background-color: black;
	border: 1px solid orange;
}
#experience h2  {
	display: block;
	width: 100%;
	font-size: 1.5rem;
	position: relative;
	color: white;
}

.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:50%;
}
.video-responsive iframe{
    left:10%;
    top:10%;
    height:80%;
    width:70%;
    position:absolute;
}
/* experience sektion slut */

/* desire sektion start */
/* Sætter baggrundsbillede og fastlåser positionen */
#desire {
	background-image: url("FFXIV desire art.png");
	background-size: cover;
	background-position: top center;
	position: relative;
}


/* Laver en ramme til h3 */
#desire .h3-boks {
	display: inline-block;
	padding: 0px 5px;
	color: orange;
	background-color: black;
	border: 1px solid orange;
}
/* Hvordan teksten opfører sig i forhold til skærmen */
#desire h3  {
	display: block;
	font-size: 2rem;
	position: relative;
	color: white;
}
/* container4 bestemmer hvor meget slideshow elementet fylder på skærmens størrelse. Således at position er fastlåst med hvor meget plads der gives mod top og venstre side af skærmen. */
#slider {
	left:10%;
    top:10%;
	min-height: 100%;
	width: 80%;
	position:relative;
}
/* til at gemme eventuelle slider bars der er uønskede */
#slider {
	overflow: hidden;
}
/* Selve slider systemets størrelse. Hvert eneste billede fylder 100% af pladsen som der er givet, da der er seks billeder skal vi derfor bruge 600%  bredd. Selve timeren er sat til et 60s sekunders loop, da der er afsat i procent hvor meget tid der gives til hvert eneste billede. Så der afsættes omkring 10 sekunder til hvert billede. */
#slider figure {
	position: relative;
	width: 600%;
	margin: 0;
	left: 0;
	animation: 48s slider infinite;
}
/* Billederne forsvinder ud mod venstre side */
#slider figure img {
	float: left;
	width: 16.66%;
}
/* Keyframes definerer hvor meget tid der bruges af den hele tid på hvert billede i slideshowet */
@keyframes slider {
	0% {
		left: 0%;
	}
	16.66% { 
		left: 0%;
	}
	16.67% {
		left: -100%;
	}
	33.33% {
		left: -100%;
	}
	33.34% {
		left: -200%;
	}
	50% {
		left: -200%;
	}
	50.01% {
		left: -300%;
	}
	66.67% {
		left: -300%;
	}
	66.68% {
		left: -400%;
	}
	83.34% {
		left: -400%;
	}
	83.35% {
		left: -500%;
	}
	100% {
		left: -500%;
	}
}
/* desire sektion slut */

/* action sektion start */
/* Sætter baggrundsbillede og fastlåser positionen */

#action {
	background-image: url("FF14 Y'shtola.jpg");
	background-size: cover;
	background-position: top center;
	position: relative;
	min-height: 100vh;
	width: 100vw;
}



#action h4  {
	display: block;
	font-size: 3rem;
	color: white;
	padding: 100px 5px;	
}

#action .cta2 {
    display: inline-block;
	padding: 5px 10px;
	color: white;
	background-color: black;
	border: 1px solid white;
	font-size: 3rem;
	margin-top: 30px;
	margin-left: 20px;
	
}

#action .cta2:hover {
	color: orange;
	background-color: black;
}
#action .container {
	left: 0;
	bottom: 0;
	min-height: 4vh;
	background-color: rgba(0,0,0,0.25);
	position:fixed;
	z-index: 1000;
	width: 100%;
}
#action .social-media {
		display: flex;
	list-style: none;
	justify-content: space-between;
	padding: 0 10px;
}
/* action sektion slut */
